In [1]:
import pandas as pd
import numpy as np
import matplotlib as mp
import seaborn as sb
import matplotlib.pyplot as plt
import random
import tensorflow as tf
from tensorflow import keras

from sklearn.model_selection import train_test_split

# Importing the required packages
from sklearn.metrics import confusion_matrix 
from sklearn.model_selection import train_test_split 
from sklearn.tree import DecisionTreeClassifier 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import classification_report 

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

from sklearn.ensemble import ExtraTreesClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score, recall_score, f1_score
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import confusion_matrix

from sklearn.neighbors import KNeighborsClassifier

In [11]:
import os
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
from tensorflow.keras.datasets import mnist
from tensorflow.keras.utils import to_categorical 
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense 
from tensorflow.keras.models import load_model

from sklearn.model_selection import train_test_split
from tensorflow.keras.layers import Flatten
from tensorflow.keras.layers import Dropout, Activation, Dense

In [2]:
df = pd.read_csv('../data/df.csv')
df

,aX,aY,aZ,gX,gY,gZ,little,ring,middle,index,thumb,number
0,0.03,0.91,0.40,2.14,-3.23,-0.92,409,458,189,240,199,0
1,0.02,0.91,0.40,0.73,-0.79,-1.59,416,455,192,243,195,0
2,0.01,0.91,0.41,-1.59,-1.83,-5.62,409,451,190,242,197,0
3,0.00,0.89,0.43,3.42,-4.70,-1.10,413,451,190,249,202,0
4,0.05,0.91,0.38,-1.46,-1.28,-0.06,410,458,190,243,199,0
...,...,...,...,...,...,...,...,...,...,...,...,...
61983,0.38,0.79,0.47,1.16,-0.73,-2.99,412,397,265,448,358,29
61984,0.37,0.81,0.49,9.70,-8.61,9.83,410,397,268,447,360,29
61985,0.42,0.79,0.43,3.11,-2.32,-2.20,408,396,267,450,359,29
61986,0.42,0.80,0.44,1.65,-3.36,-2.75,410,401,264,454,359,29
61987,0.41,0.79,0.44,-1.46,-2.01,-3.85,408,395,267,448,361,29

In [5]:
# 결측치 확인
df.isnull().sum()

# 중복 데이터 확인
df.duplicated().sum()

0

In [38]:
df_shuffled = df.sample(frac=1).reset_index(drop=True)
df_shuffled

,aX,aY,aZ,gX,gY,gZ,little,ring,middle,index,thumb,number
0,-0.14,-0.99,-0.01,0.98,-2.69,-1.77,427,296,426,454,359,25
1,0.14,0.98,0.09,-2.38,-0.92,1.28,425,465,236,292,241,0
2,0.85,-0.54,-0.04,-1.04,-2.14,-1.77,197,252,206,270,387,13
3,0.44,0.89,0.18,2.75,-4.58,-0.12,381,306,239,459,340,29
4,-0.21,-0.89,0.41,0.49,-2.62,-2.50,289,296,214,257,272,12
...,...,...,...,...,...,...,...,...,...,...,...,...
61983,0.37,0.88,0.32,-0.73,-0.98,-2.75,223,280,208,451,337,20
61984,0.08,-1.03,0.14,0.12,2.99,-5.00,206,245,199,453,306,14
61985,-0.09,-0.98,0.17,2.08,3.91,-7.51,240,313,413,470,294,15
61986,0.20,0.79,0.58,-0.67,-2.99,-2.44,356,271,226,459,336,29
61987,0.57,0.80,0.25,-0.98,-2.26,-2.75,359,284,206,442,365,29

In [40]:
X = df_shuffled.drop("number", axis = 1)
y = df_shuffled["number"].copy()

# X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, shuffle=True, stratify=y, random_state=42)
train_scaled, val_scaled, train_target, val_target = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [ ]:
# 사이킷런 모델

#모델
sc = SGDClassifier(loss= 'log', max_iter=5) #손실함수, 반복 횟수

# 훈련
sc.fit(train_scaled, train_target)

# 평가
sc.score(val_scaled, val_target)


# 케라스 모델
dense = keras.layers.Dense(10, activation='softmax', input_shape(784,)) #층 생성

# 모델
model = keras.Sequential(dense)
model.compile(loss='sparse_categorical_crossentropy', metrics = 'accuracy') # 손실함수

# 훈련
model.fit(train_scaled, train_target, epochs = 5) # 반복 횟수

# 평가
model.evaluate(val_scaled, val_target)

In [ ]:
tf.random.set_seed(42)
np.random.seed(42)

In [ ]:
model = keras.models.Sequential([
    keras.layers.Flatten(input_shape=[28, 28]),
    keras.layers.AlphaDropout(rate=0.2),
    keras.layers.Dense(300, activation="selu", kernel_initializer="lecun_normal"),
    keras.layers.AlphaDropout(rate=0.2),
    keras.layers.Dense(100, activation="selu", kernel_initializer="lecun_normal"),
    keras.layers.AlphaDropout(rate=0.2),
    keras.layers.Dense(10, activation="softmax")
])
optimizer = keras.optimizers.SGD(learning_rate=0.01, momentum=0.9, nesterov=True)
model.compile(loss="categorical_crossentropy", optimizer=optimizer, metrics=["accuracy"])
n_epochs = 20
history = model.fit(X_train_scaled, y_train, epochs=n_epochs,
                    validation_data=(X_valid_scaled, y_valid))